		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Morador</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Nome</th>
							<th>Apto</th>
							<th>Bloco</th>
							<th>Telefone</th>
							<th>CPF</th>
								<tr>
									<td>{{morador.nome}}</td>
									<td>{{morador.apto}}</td>
									<td>{{morador.apto.bloco}}</td>
									<td>{{morador.telefone}}</td>
									<td>{{morador.cpf}}</td>
								</tr>
						</tr>
						
					</table>
				</div>
			</div>
			
		</div>