		<br>

		<div class="row">
			<div class="col-md">
				<div class="card card-body">
					<h5>Pessoas</h5>
				</div>
				<div class="card card-body">
					<table class="table">
						<tr>
							<th>Prestadores</th>
							<th>Apto</th>
							<th>Telefone</th>
							{% for i in prestadores %}
								<tr>
									<td>{{i.nome}}</td>
									<td>{{i.apto.all|join:", "}}</td>
									<td>{{i.telefone}}</td>
								</tr>
							{% endfor %}
						</tr>
						
					</table>
				</div>
			</div>
			
		</div>